/* font-family: 'Alice', serif;
font-family: 'Codystar', cursive;
font-family: 'DotGothic16', sans-serif;
font-family: 'Faster One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Zen Tokyo Zoo', cursive; */

body {
    font-size: 20px;
    line-height: 20px;
    background: #00a3ff;
    /* background: radial-gradient(circle farthest-corner at top center, #00a3ff 0%, #000000 50%);
    background: -webkit-radial-gradient(circle farthest-corner at top center, #00a3ff 0%, #000000 50%);
    background: -moz-radial-gradient(circle farthest-corner at top center, #00a3ff 0%, #000000 50%); */

}

/* INICIO DEL HOME */


header {
    background-image: url(https://github.com/claudiosromero/cromerowebfull/blob/main/imagenes/div/ImgAbstractos%20134.jpg?raw=true);
    height: 110px;
}

.holder {
    max-width: 1200px;
    margin: 0 auto;
}

.boton_inicio {
    display: inline-block;
    margin-top: 20px;

}

.boton_inicio a {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 4px 18px rgb(255, 8, 0);
    margin-left: 20px;
}

.busqueda {
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;

}

.boton_inicio input {
    border-radius: 20px;
}

a:hover {
    color: red;
}

.encabezado {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: white;
    float: right;
    text-shadow: 2px 4px 18px rgb(255, 8, 0);
    margin-right: 20px;
}

.encabezado:hover {
    color: red;
}

nav {
    background-color: black;
    margin-bottom: 2em;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

nav ul li {
    display: inline-block;
    width: 19%;
}

nav ul li a {
    font-family: 'DotGothic16', sans-serif;
    text-shadow: 2px 4px 18px rgb(255, 8, 0);
    font-size: 0.8em;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.4em 0.2em;
}

.activo {
    background-color: #4adef8;
    border-radius: 20px;

}

.activo :hover {
    color: white;
}

.presentacion {
    overflow: hidden;
    display: inline-flex;
    align-content: center;
}

.bienvenido {
    text-align: center;
    width: 75%;
}


.bienvenido h2 {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 4px 18px rgb(255, 8, 0);
    font-size: 3em;
}

.bienvenido p {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.5em;
    padding: 1em;
    line-height: 1em;

}

.recomendadas {
    padding: 1em;
    border-radius: 30px;
    margin: 1em;
}

.bienvenido,
.recomendadas {
    box-sizing: border-box;
    background-color: rgb(255, 250, 250);
    background-image: url();
    padding: 0em;
    border-radius: 30px;
    margin: 0.5em;
    text-align: center;
    padding-bottom: 1em;

}

.recomendadas h2 {
    font-family: 'Rampart One', cursive;
    color: green;
    text-shadow: 2px 4px 18px rgb(174, 255, 108);
    margin-bottom: 0.5em;
    line-height: 1em;
    padding: 0.2em;
}

.recomendadas h3 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1em;
    padding: 0.2em;

}

.recomendadas h4 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 0.7em;

}

.img_bienvenida {
    width: 100%;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;

}

.novedades {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.novedades img {
    margin-left: 1em;
    width: 150px;
}

.img_novedades {
    float: left;
    width: 20%;
}

.info_novedades {
    float: right;
    width: 75%;
}

.info_novedades p {
    font-size: 0.6em;
    margin-top: 0;
}

.info_novedades h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.info_novedades h4 {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    color: rgb(255, 250, 250);
    text-align: right;
    font-size: 0.7em;
}

/* FIN DEL HOME */

/* INICIO DE MUNDO GAMER */
.notasgamer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* FIN DE MUNDO GAMER */

/* INICIO DE HARDWARE */

.notashardware {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    border-radius: 30px;
    margin: 1em;
    box-sizing: border-box;
    background-color: rgb(255, 250, 250);
    padding: 0em;
    border-radius: 30px;
    margin: 0.5em;
    text-align: center;
    padding-bottom: 1em;
}

.notahardware {
    padding: 1em;
}

.notahardware img {
    border-radius: 20px;

}

/* FIN DE HARDWARE */

/* INICIO DE TECNOLOGIAS */
.nuevastecnologias {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 30px;
    margin: 1em;
    box-sizing: border-box;
    background-color: rgb(255, 250, 250);
    padding: 1em;
    border-radius: 30px;
    margin: 0.5em;
    text-align: left;
    padding-bottom: 1em;
}

.nuevastecnologias h2 {
    font-size: 2em;
    color: green;
}

.nuevastecnologias p {
    font-size: 0.8em;
}

/* FIN DE TECNOLOGIAS */

/* INICIO DE CRIPTOS */
.historiacripto {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5em;
    color: white;
    text-shadow: 2px 4px 18px rgb(255, 8, 0);
}

.monedas {
    overflow: hidden;
}

.moneda {
    width: 22%;
    border-radius: 20px;
    float: left;
    margin-left: 2.25%;
    text-align: center;
    background-color: rgb(255, 250, 250);
    line-height: 2em;
    padding: 1em;
    box-sizing: border-box;
}

.moneda img {
    max-width: 70%;
}

/* FIN DE CRIPTOS */

/* INICIO DE CONTACTO */
.contacto {
    font-family: 'Permanent Marker', cursive;
    color: green;
    display: flex;
    width: 98%;
    border-radius: 20px;
    background-color: rgb(255, 250, 250);
    box-sizing: border-box;
    padding: 0.5em;

}

.contactoleft {
    width: 50%;
    border-right: 1px solid green;

}

.formulario label {
    vertical-align: top;
    width: 20%;
    display: inline-block;
}

.formulario input,
.formulario textarea {
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid green;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
}

.contactoright {
    margin-left: 100px;
}

.contactoright ul li {
    font-size: 1em;
    padding: 10px;
}

.formulario input[type="submit"] {
    background-color: green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}

.contacto textarea {
    height: 10em;
    resize: none;

}

.formulario .acciones {
    text-align: center;
}

/* FIN DE CONTACTO */

/* LOGIN */

/* body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
} */



.loginBox {
    margin-top: 20px;
    width: 350px;
    min-height: 200px;
    background: #000000e4;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #59238F;
    text-align: center
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
    color: #fa4242;
    border: 1px solid #fa4242;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.931), 0 0 10px rgba(255, 0, 0, 0.572), 0 0 15px rgba(255, 0, 0, 0.1), 0 2px 0 black
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
    border-bottom: 2px solid #fa4242
}

.inputBox {
    position: relative
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #59238F;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}

a:hover {
    color: #ff0000
}

.loginBox p {
    color: #8f2323;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}

/* FOOTER */

