/* body {
    font-size: 10px;
} */

.notasgamer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.notasgamer h1 {
    color: #8f2323;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.notasgamer h2 {
    font-size: 20px;
}

.notasgamer h3 {
    font-size: 12px;
    background-color: gray;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;

}