.presentacion {
    overflow: hidden;
    display: inline-flex;
    align-content: center;
}

.presentacion h1 {
    font-size: 1.2em;

}

.presentacion img {
    border-radius: 20px;
    margin-bottom: 20px;
}

.bienvenido {
    text-align: center;
    text-decoration: solid;
}

.bienvenido h2 {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 4px 18px rgb(255, 8, 0);
    font-size: 3em;
}

.bienvenido p {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.5em;
    padding: 1em;
    line-height: 1em;
    color:brown;

}

.recomendadas {
    padding: 1em;
    border-radius: 30px;
    margin: 1em;
}

.bienvenido,
.recomendadas {
    box-sizing: border-box;
    background-color: rgb(255, 250, 250);
    background-image: url();
    padding: 0em;
    border-radius: 30px;
    margin: 0.5em;
    text-align: center;
    padding-bottom: 1em;

}

.recomendadas h2 {
    font-family: 'Rampart One', cursive;
    color: green;
    text-shadow: 2px 4px 18px rgb(174, 255, 108);
    margin-bottom: 0.5em;
    line-height: 1em;
    padding: 0.2em;
}

.recomendadas h3 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1em;
    padding: 0.2em;

}

.recomendadas h4 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 0.7em;

}

.img_bienvenida {
    width: 100%;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;

}

.novedades {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.novedades img {
    margin-left: 1em;
    width: 150px;
}

.img_novedades {
    float: left;
    width: 20%;
}

.info_novedades {
    float: right;
    width: 75%;
}

.info_novedades p {
    font-size: 0.6em;
    margin-top: 0;
}

.info_novedades h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.info_novedades h4 {
    margin-top: 0;
    margin-bottom: 0;
}