body {
    font-size: 20px;
    line-height: 20px;
    background: #00a3ff;
    background: radial-gradient(circle farthest-corner at top center, #00a3ff 0%, #000000 50%);
    background: -webkit-radial-gradient(circle farthest-corner at top center, #00a3ff 0%, #000000 50%);
    background: -moz-radial-gradient(circle farthest-corner at top center, #00a3ff 0%, #000000 50%);

}

.holder {
    max-width: 1200px;
    margin: 0 auto;
}