<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CromeroWebFull</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Alice&family=Codystar&family=DotGothic16&family=Faster+One&family=Permanent+Marker&family=Rampart+One&family=Zen+Tokyo+Zoo&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="css/normalize.css">
   <link rel="stylesheet" href="/stylesheets/cromerowebfull.css">
   <script src="https://kit.fontawesome.com/4147258c08.js" crossorigin="anonymous"></script>

</head>

<body class="holder">
   <header>
      <div class="holder">
         {{!-- <div class="boton_inicio">
            <a href="index.html"><i class="fas fa-home"></i></a>
            <input class="busqueda" type="text" placeholder="Busqueda">
            <input type="button" value="Buscar">
         </div> --}}
         <div class="encabezado">
            <h1>CromeroWebFull</h1>
         </div>
      </div>

   </header>

   <main class="contenedor_principal holder">
      {{{body}}}
   </main>

   <footer>
      <p>Diseñado por Claudio Romero - &copy;2022</p>
   </footer>
</body>

</html>